{% if viewer_id and user and friend_status_map is defined and pending_received_from is defined and following_map is defined and viewer_id != user['id'] %}
  {% set user_id = user['id'] %}
  {% set status = friend_status_map.get(user_id) %}
  {% set following = following_map.get(user_id) %}
  {% set is_pending = user_id in pending_received_from %}
  <form method="POST" action="/friend_action">
    {% if status == 'accepted' %}
      <button class="friend-btn" name="action" value="remove">Remove Friend</button>
    {% elif is_pending %}
      <button class="friend-btn" name="action" value="accept">Accept</button>
      <button class="friend-btn" name="action" value="decline">Decline</button>
    {% elif status == 'pending' %}
      <button class="friend-btn disabled" disabled>Request Sent</button>
    {% else %}
      <button class="friend-btn" name="action" value="add">Add Friend</button>
    {% endif %}
    <input type="hidden" name="target_id" value="{{ user_id }}">
  </form>
{% endif %}
