.post-preview.guestbook-outbound {
  margin-left: 1cm;
  background-color: rgba(255, 255, 255, 0.06);
  border-left: 4px solid #ff9bc2;
  padding-left: 1.5rem;
  box-shadow: 0 0 6px rgba(255, 155, 194, 0.3);
  border-radius: 0.75em;
}
